.quit-measurement {
  position: absolute;
  top: 10px;
  right: 10px;
}

.quit-measurement span {
  vertical-align: middle;
}

.quit-measurement button {
  font-weight: normal;
  width: auto;
  padding: 0 15px 0px 8px;
}

.x-icon {
  margin-right: 4px;
}
