#map {
  width: calc(100vw - 650px);
  height: 100vh;
}

.map-panel {
  width: 650px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  overflow: hidden;
  position: relative;
}

.btn-toolbar {
  margin: 20px 0;
}

.btn-toolbar button {
  padding: 10px 20px;
}

.icon {
  padding-right: 10px;
}

.form-group {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 260px;
}

.form-group label {
  width: 230px;
  vertical-align: middle;
  margin-bottom: 0;
}

.dropdown .text {
  margin-right: 3px;
}

select {
  cursor: pointer;
}
