.btn-toolbar {
  margin: 20px 0;

  button {
    padding: 10px 20px;

    .icon {
      padding-right: 10px;
    }
  }

  .dropdown {
    .text {
      margin-right: 3px;
    }

    .form-group {
      display: flex;
      align-items: center;
      justify-content: start;
      width: 260px;

      label {
        width: 230px;
        vertical-align: middle;
        margin-bottom: 0;
      }

      select {
        cursor: pointer;
      }
    }
  }
}
